<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>Halaman tidak ada</title>
</head>

<body class="h-screen bg-slate-900 text-white text-2xl flex justify-center items-center">
  <h1 class="text-center">Halaman blog tidak ditemukan <br>
    <span class="text-6xl font-bold">404</span>
  </h1>
</body>

</html>